<?xml version="1.0"?>
<model>
  <name>Floor</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>harshit gupta</name>
   <email>mail4harshit1@gmail.com</email>
  </author>

  <description>
    Path for My line follower robot.
  </description>
</model><?xml version="1.0"?>

